<div class="form">
  <form action="" (ngsubmit)="onSubmit()">
    <label for="fname">First Name</label>
    <input
      type="text"
      id="fname"
      name="fname"
      placeholder="Your First name.."
      [(ngModel)]="fname"
    />

    <label for="lname">Last Name</label>
    <input
      type="text"
      id="lname"
      name="lname"
      placeholder="Your Last name.."
      [(ngModel)]="lname"
    />

    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      name="enail"
      placeholder="Your Email.."
      [(ngModel)]="email"
    />

    <label for="country">Country</label>
    <select name="country" id="country" [(ngModel)]="country">
      <option value="canada">Canada</option>
      <option value="cambodia">Cambodia</option>
      <option value="france">france</option>
      <option value="laos">Laos</option>
    </select>

    <label for="gender">Gender</label>
    <input type="radio" id="male" value="male" name="gender" [(ngModel)]="a" />
    <label for="male">male</label>
    <input type="radio" value="female" id="female" name="gender" />
    <label for="female">female</label>
    <input type="radio" value="other" id="other" checked name="gender" />
    <label for="other">Other</label>
    <br /><br />

    <label>Hobbies <i>(Optional)</i></label>

    <div class="form-inline">
      <label
        ><input type="checkbox" value="sports" name="checkbox" />sport</label
      >
      <label
        ><input type="checkbox" value="movies" name="checkbox" />movie</label
      >
      <label
        ><input type="checkbox" value="musics" name="checkbox" />music</label
      >
    </div>
    <input type="submit" value="submit" id="btn" (click)="onSubmit()" />
  </form>
</div>
